
h1, h3, p, .forecast, .weather, .location-button{
    font-family: 'Tektur', cursive;
    color: #344A50;
}

a {
    text-decoration: none;
}

small {
    position: relative;
    top: 510px;
    left: 200px;
}


.location-button {
    position: relative;
    bottom: 30px;
    left: 350px;
    padding: 5px;
    border-radius: 10px;
    border-color: #619DBC;
}

.tempScales {
    position: relative;
    bottom: 80px;
    left: 170px;
    text-align: left;
}

.separator {
    color: #344950;
}

.date {
    position: relative;
    text-align: left;
    left: 10px;
    top: -10px;
    font-size: 20px;
}
.prediction {
    position: relative;
    text-align: left;
    left: 10px;
    bottom: 25px;
}
.card, .border {
    border-color: #619DBC;
    background-color: #F6F6F6;
}

.card   {
    position: fixed;
    top: 15%;
    left: 30%;
}

.border {
    position: relative;
    top: -90px;
    padding: 50px 10px;
    margin: 5px;
}

.forecast {
    position: relative;
    bottom: 245px;
    padding: 50px 10px;
    margin: 3px;
    text-align: center;
    font-size: 12px;
}

.weather {
    position: relative;
    bottom: 345px;
    padding: 50px 10px;
    text-align: center;
    font-size: 35px;
}

.humidity {
    position: relative;
    bottom: 90px;
}
.wind {
position: relative;
bottom: 100px;
}

h1 {
    position: relative;
    text-align: left;
    left: 10px;
    bottom: 30px;
    font-size: 50px;
}

h3 {
    position: relative;
    left: 10px;
    bottom: 10px;
}

p {
    text-align: right;
}
